*.iml
.gradle
/local.properties
.idea
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
